* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    min-height: 100vh;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.45s ease forwards;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #dcdcdc, #bfbfbf);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Panel principal */
.panel {
    width: 850px;
    padding: 40px;
    border-radius: 25px;
    background: #e6e6e6;
    box-shadow:
        15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}

/* Título */
.panel h1 {
    font-family: "Playwrite NZ Basic";
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
    color: #2f2f2f;
    font-weight: 600;
}

/* Contenedor de tarjetas */
#lista-estudiantes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Tarjeta de estudiante */
.card {
    width: 320px;
    padding: 20px;
    border-radius: 18px;
    background: #e6e6e6;
    box-shadow:
        6px 6px 12px #c8c8c8,
        -6px -6px 12px #ffffff;
    transition: all 0.25s ease;
}

/* Hover tarjeta */
.card:hover {
    transform: translateY(-5px);
    box-shadow:
        10px 10px 20px #c2c2c2,
        -10px -10px 20px #ffffff;
}

/* Texto */
.card h3 {
    font-family: "The Girl Next Door", cursive;
    color: #2f2f2f;
    margin-bottom: 10px;
    font-weight: 900;
}

.card p {
    color: #555;
    font-size: 14px;
    margin: 4px 0;
}

/* Botón */
.card button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #e6e6e6;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    box-shadow:
        4px 4px 8px #c8c8c8,
        -4px -4px 8px #ffffff;
    transition: all 0.2s ease;
}

/* Hover botón */
.card button:hover {
    box-shadow:
        inset 4px 4px 8px #c2c2c2,
        inset -4px -4px 8px #ffffff;
}

.volver {
    padding: 10px 18px;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background: #e6e6e6;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow:
        4px 4px 8px #c8c8c8,
        -4px -4px 8px #ffffff;
    transition: all 0.2s ease;
}

.volver:hover {
    border: 1px solid white;
}

.volver:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}