*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #3535d3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
}

h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #3535d3;
}

input,select{
    border: none;
    border-bottom: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
}

input:focus, select:focus{
    outline: none;
}

button{
    padding: 0.7rem;
    border: none;
    background-color: #3535d3;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #2a2ab8;
}   