*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.registro{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    width: 280px;
    flex-direction: column;
    background-color: orangered;
    padding: 15px;
}

.registro #estudiante, .registro #edad{
    border: none;
    border-radius: 20px;
    height: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.registro button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    margin-left: 20px;
    height: 80vh;
    overflow-y: auto;
}


.estudiante{
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 5px;
    width: 70vw;
    border: none;
    border-bottom: 1.5px solid orangered;
    transition: 0.5s;
}

.estudiante:hover{
    background-color: rgb(255, 236, 228);
}
