*{
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, Arial, sans-serif;
  font-size: 16px; /* tamaño ideal móvil */
  line-height: 1.5;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  display: flex;
  justify-content: center;
  align-items: center;
}

.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 485px;
  min-height: 100vh;
  background-color: #000;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.head{
  background: linear-gradient(to top left, #ffe60095 0%, #00000087 100%), url(../public/cancha.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  border-radius: 0px 0px 30px 30px;
}

html, body {
  overflow-x: hidden;
}

.contenido{
  padding: 10px 15px;
}

.xd{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.atras, .mestres{
  display: flex;
}

.atras{
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff94;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 1px;
}

.atras > svg {
  fill: white;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.3s ease-in;
}

.atras:hover {
  background-color: #ffffffb1;
}

.atras:hover > svg {
  fill: #000;
}

.mestres{
  border: 0.8px rgba(255, 255, 255, 0.534) solid;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  color: white;
  width: 8rem;
  font: 1em sans-serif;
  height: 2.6rem;
}

.texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  line-height: 1.2;
}

p{
  color: #ffffffcc;
  letter-spacing: 0.5px;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 5px;
}

.botones > button{
  width: 6.5rem;
  padding: 8px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 50px;
  border: none;
  background-color: #e0e0e0d5;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.botones .ca{
  width: 5rem;
}

.botones .pa{
  width: 7.8rem;
}

.botones .re{
  width: 5.5rem;
}

.botones > button:hover{
  background-color: #ffea00;
  color: #000;
}

.centro{
  margin-top: 10px;
}

.card1 {
  margin-left: 10px;
  width: 330px;
  height: 67px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff00;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff94;
  border-radius: 50%;
  margin-left: 8px;
}
.icon {
  width: 17px;
  height: 17px;
  color: #ffffff;
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text,
.sub-text {
  color: #ffffff;
  margin: 0;
  cursor: default;
}
.message-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
}
.message-text-container a{
  font-size: 14px;
  color: #ffea00;
  text-decoration: none;
}


.doble{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.detalles{
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.genero{
  display: flex;
  align-items: center;
}

.smallsvg {
  width: 8px;
}

.malesmallsvg {
  transform: rotate(225deg);
}

.genderlabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #ffffff52;
  border-radius: 50px;
  padding: 8px 16px;
  gap: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
  cursor: default;
}

.caja{
  display: flex;
  flex-direction: column;
}

.dato {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: 600;
}

.valor{
  color: #ffffffcc;
  margin-left: 14px; /* alinea con el texto, no con el punto */
}


/* Punto */
.dato::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffe600;
  flex-shrink: 0;
}

.separador{
  width: 100%;
  height: .5px;      /* controla la altura */
  background-color: #939393;
  margin: 30px 0;   /* controla el espacio vertical */
}

.box{
  display: flex;
  flex-direction: column;
  background-color: #272727e3;
  border: 1px #93939392 solid;
  border-radius: 20px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0px 6px 0px 10px;
}

.top p{
  display: flex;
  background-color: #555555;
  color: #ffffffcc;
  font-size: 12px;
  padding: 2px;
  border-radius: 20px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.participantes{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px 30px 0px 10px;
}

.participante{
  background-color: #939393;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}



.participar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 20px;
}

.button-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 1px;
  padding: 0 12px;
  text-align: center;
  margin-left: 20px;
  width: 325px;
  height: 55px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: #ffe600;
  color: rgb(0, 0, 0);
}

.button-with-icon .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}


.card{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff94;
  height: 55px;
  width: 55px;
  margin-right: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.paperplane {
  fill: #888;
  width: 28px;
  transition: 0.4s all;
}

.footer{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  border-top: 1px rgb(146, 146, 146) solid;
  width: 480px;
  background-color: #cb2929;
  background: linear-gradient(to top, #00000095 0%, #7b7b7b98 100%);
  border-radius: 30px 30px 0px 0px ;
  height: 80px;
}

.foot1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0px;
  background: #da0f0f00;
  border: none;
  cursor: pointer;
}

.message-text1{
  font-size: 15px;
  color: #ffffffcc;
  font-weight: bold
}